# **Desafio Final: Bootcamp Desenvolvedor Python**
**Para o Desafio Final será utilizado o Dataset de Ocorrência de Diabetes, que está no link: https://drive.google.com/drive/folders/13ezZUhmZKm_4lnfnt5dKeTzEn6ZEHa7I?usp=sharing**

**A análise do Dataset, com pre-processamento, análise de dados e previsão através dos algorítimos será a base para responder às questões do Desafio Final.**

In [4]:
# Importing libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler # Data transformation 
from sklearn.model_selection import train_test_split # Data slicing
from sklearn.neighbors import KNeighborsClassifier # KNN model
from sklearn.tree import DecisionTreeClassifier # Decision Tree model
from sklearn.neural_network import MLPClassifier # MLP model
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score # Methods to evaluate model accuracy
import joblib # Save best model as a file

# **Pré-processamento dos Dados**

In [5]:
# Create Dataframe from diabetes file
df = pd.read_csv('diabetes.csv', header=None)

In [6]:
# Dataframe Head
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

**Dicionário de Dados:**
0. Número de vezes em que ficou grávida. 
1. Concentração de glicose. 
2. Pressão diastólica (mm Hg). 
3. Espessura da dobra cutânea do tríceps (mm). 
4. Insulina (mu U/ml). 
5. Índice de massa corporal (peso em kg/(altura em m)^2). 
6. Histórico familiar de diabetes. 
7. Idade (anos). 
8. Classificação (0 ou 1 - 0 não diabético / 1 diabético ).

In [7]:
# Dataframe general information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    int64
 1   1       768 non-null    int64
 2   2       768 non-null    int64
 3   3       768 non-null    int64
 4   4       768 non-null    int64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   7       768 non-null    int64
 8   8       768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
df.describe()

                0           1           2  ...           6           7           8
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std      3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min      0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [9]:
# Dataframe general stats 
df2 = df.loc[df[8]==1]

In [10]:
df2.describe()

                0           1           2  ...           6           7      8
count  268.000000  268.000000  268.000000  ...  268.000000  268.000000  268.0
mean     4.865672  141.257463   70.824627  ...    0.550500   37.067164    1.0
std      3.741239   31.939622   21.491812  ...    0.372354   10.968254    0.0
min      0.000000    0.000000    0.000000  ...    0.088000   21.000000    1.0
25%      1.750000  119.000000   66.000000  ...    0.262500   28.000000    1.0
50%      4.000000  140.000000   74.000000  ...    0.449000   36.000000    1.0
75%      8.000000  167.000000   82.000000  ...    0.728000   44.000000    1.0
max     17.000000  199.000000  114.000000  ...    2.420000   70.000000    1.0

[8 rows x 9 columns]

In [11]:
df3 = df.loc[df[8]==0]

In [12]:
df3.describe()

                0         1           2  ...           6           7      8
count  500.000000  500.0000  500.000000  ...  500.000000  500.000000  500.0
mean     3.298000  109.9800   68.184000  ...    0.429734   31.190000    0.0
std      3.017185   26.1412   18.063075  ...    0.299085   11.667655    0.0
min      0.000000    0.0000    0.000000  ...    0.078000   21.000000    0.0
25%      1.000000   93.0000   62.000000  ...    0.229750   23.000000    0.0
50%      2.000000  107.0000   70.000000  ...    0.336000   27.000000    0.0
75%      5.000000  125.0000   78.000000  ...    0.561750   37.000000    0.0
max     13.000000  197.0000  122.000000  ...    2.329000   81.000000    0.0

[8 rows x 9 columns]

In [13]:
# Amount of Diabetes event
df[8].value_counts()

0    500
1    268
Name: 8, dtype: int64

# **Construção dos Modelos e Previsão**

In [14]:
# Data Normalization 
raw_variables = [0, 1, 2, 3, 4, 5, 6, 7]
adjusted_variables = MinMaxScaler()

In [15]:
# Defining input and output variables
input_variables = adjusted_variables.fit_transform(df[raw_variables])
output_variables = df[8]

In [16]:
resumo_normalizacao = pd.DataFrame(data=input_variables)
resumo_normalizacao.describe()

                0           1           2  ...           5           6           7
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     0.226180    0.607510    0.566438  ...    0.476790    0.168179    0.204015
std      0.198210    0.160666    0.158654  ...    0.117499    0.141473    0.196004
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.058824    0.497487    0.508197  ...    0.406855    0.070773    0.050000
50%      0.176471    0.587940    0.590164  ...    0.476900    0.125747    0.133333
75%      0.352941    0.704774    0.655738  ...    0.545455    0.234095    0.333333
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 8 columns]

In [17]:
# Assign variables to Train and Test slices
x = input_variables   
y = output_variables

# Dataframe to Train and Test slices
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30,random_state=42)

**KNN (K nearest neighbor)**

In [18]:
# Building KNN model with 5 neighbors (K=5)
clf_KNN = KNeighborsClassifier(n_neighbors=5)

# Training the KNN model
clf_KNN.fit(x_train, y_train)

# Testing the KNN model
y_forecast_KNN = clf_KNN.predict(x_test)

**Decision Tree**

In [19]:
# Building Tree model 
clf_tree = DecisionTreeClassifier(random_state=1)

# Training the Tree model
clf_tree.fit(x_train, y_train)

# Testing the Tree model
y_forecast_tree = clf_tree.predict(x_test)

**Multilayer Perceptron (MLP)**

In [20]:
# Building MLP model
clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 10), random_state=1)

# Training MLP model
clf_mlp.fit(x_train, y_train)

# Testing MLP model
y_forecast_mlp = clf_mlp.predict(x_test)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

**Evaluating Model Accuracy**

In [21]:
# Comparing models accuracy
print(f'Acurácia do Modelo KNN: {accuracy_score(y_test, y_forecast_KNN)*100}')
print(f'Acurácia do Modelo Decision Tree: {accuracy_score(y_test, y_forecast_tree)*100}')
print(f'Acurácia do Modelo MLP: {accuracy_score(y_test, y_forecast_mlp)*100}')

Acurácia do Modelo KNN: 67.96536796536796
Acurácia do Modelo Decision Tree: 69.6969696969697
Acurácia do Modelo MLP: 74.45887445887446

# **Salvando Melhor Modelo**

In [22]:
# Save best model as a file
mlp_model = 'mlp_model.sav'
joblib.dump(clf_mlp, mlp_model)

['mlp_model.sav']

# **Salvando a Normalização dos Dados**

In [24]:
# Save transform method
scale_data = "normalização.sav"
joblib.dump(adjusted_variables, scale_data)

['normalização.sav']